@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.informations {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 50px 50px;
    max-width: 1200px;
    margin: 0 auto;
    vertical-align: middle;
}

.informations .informations-container-1 img {
    width: 215px;
    height: 215px;
    background-color: #C4C4C4;
    border-radius: 50%;
    margin: 0 auto 40px;
    display: block;
}

.informations .informations-container-1 p {
    max-width: 1200px;
}

.informations .informations-container-1 h2, .works h2 {
    text-align: center;
    color: #2DB7FA;
    margin-bottom: 30px;
    font-family: 'Dancing Script';
    font-size: 36px;
}

.informations .informations-container-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.informations .informations-container-2 div iframe {
    margin: 20px 0 0 0;
    text-decoration: none;
    border: 1px solid #2DB7FA ;
}

.informations .informations-container-2 a {
    text-align: center;
    margin: 8px 0 15px;
    color: #FB9F2C;
    text-decoration: none;
    cursor: pointer;
    display: block;

    transition: color 0.3s;
}

.informations .informations-container-2 a:hover {
    color: #2DB7FA;
}


